p {
    font-family: Lato;
  }
  ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
  }
  
  li > a {
    display: block;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
  }
  
  li > a:hover {
    background-color: rgb(228, 11, 11);
    border-radius: 10px;
  }
  
  .menu-right {
    float: right;
  }
  
  /*use media query to add a break point at 800px*/
  @media screen and (max-width: 800px) {
    li {
      width: 100%;
    }
  }
  