.product-table {
    margin-top: 5%;
  }
  table,
  thead,
  th,
  td {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }
  th {
    height: 50px;
    background-color: rgb(228, 11, 11);
  }
  th,
  td {
    text-align: center;
  }
  td {
    background-color: black;
    color: rgb(228, 11, 11);
  }
  .btn-container {
    margin: auto;
    width: 0px;
    margin-top: 20px;
  }
  .btn-custom {
    background-color: rgb(228, 11, 11);
    text-align: center;
    padding: 10px 25px;
    border-radius: 8px;
  }  

  @media screen and (max-width: 800px) {
    .card {
      width: 80%;
    }
}