<mat-tab-group class="tab-group">
    // First tab
    <mat-tab>
        <ng-template mat-tab-label>
            <span matBadge="1" matBadgeSize="large">
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            </span>
            First
        </ng-template>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Winner 1</mat-card-title>
                <mat-card-subtitle>James</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The winner will receive a cash prize, a trophy and their name engraved on a silver salver which they keep for a year.
                </p>
            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-tab>
    // Second tab
    <mat-tab>
        <ng-template mat-tab-label>
            <span matBadge="2" matBadgeSize="large">
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        </span>
            Second
        </ng-template>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Winner 2</mat-card-title>
                <mat-card-subtitle>Rosy</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The winner will receive a cash prize, a trophy and their name engraved on a silver salver which they keep for a year.
                </p>
            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer> 
        </mat-card>
    </mat-tab>
    // Third Tab
    <mat-tab>
        <ng-template mat-tab-label>
            <span matBadge="3" matBadgeSize="large">
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            </span>
            Third
        </ng-template>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Winner 3</mat-card-title>
                <mat-card-subtitle>Michael</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The winner will receive a cash prize, a trophy and their name engraved on a silver salver which they keep for a year.
                </p>
            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </mat-tab>
</mat-tab-group>

